* {
    margin: 0;
}

#about_me{
    height: 100vh;
    display: flex;
}

.container{
    max-width: 1170px;
    width: 100%;
    background-color: red;
    margin: auto;
}

.home-text{
    text-align: center;
}